# Data Extraction & Feature Engineering

In [2]:
import pandas as pd
import numpy as np

In [3]:
books=pd.read_csv(r"C:\Users\Ayush\Downloads\Books.csv",error_bad_lines=False,encoding='latin-1')

C:\Users\Ayush\AppData\Local\Temp\ipykernel_23148\3606911686.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  books=pd.read_csv(r"C:\Users\Ayush\Downloads\Books.csv",error_bad_lines=False,encoding='latin-1')
C:\Users\Ayush\AppData\Local\Temp\ipykernel_23148\3606911686.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books=pd.read_csv(r"C:\Users\Ayush\Downloads\Books.csv",error_bad_lines=False,encoding='latin-1')

In [4]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [5]:
books.drop(['Image-URL-S','Image-URL-M','Image-URL-L'],axis=1,inplace=True)

In [6]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company

In [7]:
books.rename(columns={'Book-Title':'title','Book-Author':'author','Year-Of-Publication':'year','Publisher':'publisher'}, inplace=True)

In [8]:
books.head(2)

,ISBN,title,author,year,publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada

In [9]:
users=pd.read_csv(r"C:\Users\Ayush\Downloads\Users.csv",error_bad_lines=False,encoding='latin-1')

C:\Users\Ayush\AppData\Local\Temp\ipykernel_23148\2353396719.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  users=pd.read_csv(r"C:\Users\Ayush\Downloads\Users.csv",error_bad_lines=False,encoding='latin-1')

In [10]:
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [11]:
users.rename(columns={'User-ID':'user_id','Location':'location','Age':'age'}, inplace=True)

In [12]:
users.tail(2)

        user_id                   location  age
278856   278857  knoxville, tennessee, usa  NaN
278857   278858       dublin, n/a, ireland  NaN

In [13]:
users.shape

(278858, 3)

In [14]:
users['age'].isna().sum()

110762

In [15]:
users['age'].fillna(0, inplace=True)

In [16]:
users.tail(2)

        user_id                   location  age
278856   278857  knoxville, tennessee, usa  0.0
278857   278858       dublin, n/a, ireland  0.0

In [17]:
ratings=pd.read_csv(r"C:\Users\Ayush\Downloads\Ratings.csv",error_bad_lines=False,encoding='latin-1')

C:\Users\Ayush\AppData\Local\Temp\ipykernel_23148\3299192143.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  ratings=pd.read_csv(r"C:\Users\Ayush\Downloads\Ratings.csv",error_bad_lines=False,encoding='latin-1')

In [18]:
ratings.tail(3)

         User-ID         ISBN  Book-Rating
1149777   276709   0515107662           10
1149778   276721   0590442449           10
1149779   276723  05162443314            8

In [19]:
ratings.rename(columns={'User-ID':'user_id','Book-Rating':'rating'}, inplace=True)

In [20]:
ratings.columns

Index(['user_id', 'ISBN', 'rating'], dtype='object')

In [21]:
users.shape

(278858, 3)

In [22]:
books.shape

(271360, 5)

In [23]:
ratings.shape

(1149780, 3)

In [24]:
ratings['user_id'].value_counts()

11676     13602
198711     7550
153662     6109
98391      5891
35859      5850
          ...
116180        1
116166        1
116154        1
116137        1
276723        1
Name: user_id, Length: 105283, dtype: int64

In [25]:
ratings['user_id'].value_counts().shape

(105283,)

We would consider only those user who has read and commented/rated 175+ books.This would help us to get best knowledge about books.

In [26]:
desired_users=ratings['user_id'].value_counts()>175

In [27]:
desired_users

11676      True
198711     True
153662     True
98391      True
35859      True
          ...
116180    False
116166    False
116154    False
116137    False
276723    False
Name: user_id, Length: 105283, dtype: bool

In [28]:
desired_users=desired_users[desired_users]

In [29]:
desired_users

11676     True
198711    True
153662    True
98391     True
35859     True
          ...
101606    True
271245    True
124310    True
30824     True
13582     True
Name: user_id, Length: 1045, dtype: bool

In [30]:
x=desired_users.index

In [31]:
ratings=ratings[ratings['user_id'].isin(x)]

In [32]:
ratings

         user_id        ISBN  rating
1456      277427  002542730X      10
1457      277427  0026217457       0
1458      277427  003008685X       8
1459      277427  0030615321       0
1460      277427  0060002050       0
...          ...         ...     ...
1149633   276680  1884910033       0
1149634   276680  1888173408       7
1149635   276680  1888173564       8
1149636   276680  1888173572       0
1149637   276680  1931561648       9

[553730 rows x 3 columns]

In [33]:
ratings.shape

(553730, 3)

In [34]:
ratings_plus_book=ratings.merge(books, on='ISBN')

In [35]:
ratings_plus_book.head()

,user_id,ISBN,rating,title,author,year,publisher
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc
2,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc
3,12538,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc
4,13552,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc

In [36]:
ratings_plus_book.groupby('title')['rating'].count()

title
 A Light in the Storm: The Civil War Diary of Amelia Martin, Fenwick Island, Delaware, 1861 (Dear America)    3
 Always Have Popsicles                                                                                        1
 Apple Magic (The Collector's series)                                                                         1
 Beyond IBM: Leadership Marketing and Finance for the 1990s                                                   1
 Clifford Visita El Hospital (Clifford El Gran Perro Colorado)                                                1
                                                                                                             ..
Ã?Ã?ber die Pflicht zum Ungehorsam gegen den Staat.                                                         3
Ã?Ã?lpiraten.                                                                                               1
Ã?Ã?rger mit Produkt X. Roman.                                                                              1
Ã?Ã?stlich der Berge.                                                                                       1
Ã?Ã?thique en toc                                                                                           1
Name: rating, Length: 165151, dtype: int64

In [37]:
rating_count=ratings_plus_book.groupby('title')['rating'].count().reset_index()

In [38]:
rating_count

                                                    title  rating
0        A Light in the Storm: The Civil War Diary of ...       3
1                                   Always Have Popsicles       1
2                    Apple Magic (The Collector's series)       1
3        Beyond IBM: Leadership Marketing and Finance ...       1
4        Clifford Visita El Hospital (Clifford El Gran...       1
...                                                   ...     ...
165146  Ã?Ã?ber die Pflicht zum Ungehorsam gegen den...       3
165147                                    Ã?Ã?lpiraten.       1
165148                   Ã?Ã?rger mit Produkt X. Roman.       1
165149                            Ã?Ã?stlich der Berge.       1
165150                                Ã?Ã?thique en toc       1

[165151 rows x 2 columns]

In [39]:
rating_count.rename(columns={'rating':'number_of_ratings'}, inplace=True)

In [40]:
rating_count.columns

Index(['title', 'number_of_ratings'], dtype='object')

In [41]:
rating_count.head(4)

                                               title  number_of_ratings
0   A Light in the Storm: The Civil War Diary of ...                  3
1                              Always Have Popsicles                  1
2               Apple Magic (The Collector's series)                  1
3   Beyond IBM: Leadership Marketing and Finance ...                  1

In [42]:
ratings_plus_book=ratings_plus_book.merge(rating_count, on='title')

In [43]:
ratings_plus_book.head(2)

,user_id,ISBN,rating,title,author,year,publisher,number_of_ratings
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,85
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,85

In [45]:
ratings_plus_book.head(2)

,user_id,ISBN,rating,title,author,year,publisher,number_of_ratings
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,85
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,85

We would consider only those books which are read/rated by 75+ users on the platform.

In [46]:
ratings_plus_book['number_of_ratings']>75

0          True
1          True
2          True
3          True
4          True
          ...
512812    False
512813    False
512814    False
512815    False
512816    False
Name: number_of_ratings, Length: 512817, dtype: bool

In [47]:
ratings_plus_book=ratings_plus_book[ratings_plus_book['number_of_ratings']>75]

In [48]:
ratings_plus_book.shape

(42105, 8)

In [49]:
ratings_plus_book.drop_duplicates(['user_id','title'], inplace=True)

C:\Users\Ayush\AppData\Local\Temp\ipykernel_23148\3401511665.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ratings_plus_book.drop_duplicates(['user_id','title'], inplace=True)

In [50]:
ratings_plus_book.shape

(40683, 8)

# Item Based Collaborative Filtering

In [51]:
book_pivotib=ratings_plus_book.pivot_table(columns='user_id',index='title',values='rating')

In [52]:
book_pivotib

user_id,254,2033,2276,2766,2977,3363,3757,4017,4385,6242,...,274308,274808,275970,276018,276680,277427,277478,277639,278188,278418
title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1st to Die: A Novel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2nd Chance,NaN,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
A Bend in the Road,0.0,NaN,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
A Case of Need,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Wild Animus,NaN,NaN,NaN,6.0,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN
Wish You Well,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Without Remorse,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Wuthering Heights,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"\O\"" Is for Outlaw""",NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [53]:
book_pivotib.fillna(0,inplace=True)

In [54]:
book_pivotib

user_id,254,2033,2276,2766,2977,3363,3757,4017,4385,6242,...,274308,274808,275970,276018,276680,277427,277478,277639,278188,278418
title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Bend in the Road,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Case of Need,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Wild Animus,0.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Wish You Well,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Without Remorse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Wuthering Heights,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [55]:
book_pivotib.shape

(363, 1027)

we should now take sparse matrix as we don't want to consider zero values.

In [56]:
from scipy.sparse import csr_matrix
sparse_ib=csr_matrix(book_pivotib)

In [57]:
type(sparse_ib)

scipy.sparse._csr.csr_matrix

In [58]:
from sklearn.neighbors import NearestNeighbors
modelib=NearestNeighbors(metric='minkowski',p=2,algorithm='brute')#Its basically euclidean dis.(as p=2),its manhattan for p=1.

In [59]:
modelib.fit(sparse_ib)

NearestNeighbors(algorithm='brute')

In [61]:
distances,suggestions=modelib.kneighbors(book_pivotib.iloc[132,:].values.reshape(1,-1),n_neighbors=6)

In [79]:
suggestions[0][1]

161

In [62]:
distances

array([[ 0.        , 49.05099387, 49.28488612, 50.44799302, 50.58655948,
        50.99019514]])

In [63]:
suggestions

array([[132, 161, 228, 198, 215,  47]], dtype=int64)

In [66]:
book_pivotib.index[132]

'Into Thin Air : A Personal Account of the Mt. Everest Disaster'

In [69]:
x=np.array(suggestions)
y=x.flatten()

In [70]:
y

array([132, 161, 228, 198, 215,  47], dtype=int64)

In [71]:
for i in y:
    print(book_pivotib.index[i])

Into Thin Air : A Personal Account of the Mt. Everest Disaster
Moo
The Angel of Darkness
Saint Maybe
Songs in Ordinary Time (Oprah's Book Club (Paperback))
Call of the Wild

In [73]:
book_pivotib.index

Index(['1984', '1st to Die: A Novel', '2nd Chance', 'A Bend in the Road',
       'A Case of Need',
       'A Child Called \It\": One Child's Courage to Survive"',
       'A Is for Alibi (Kinsey Millhone Mysteries (Paperback))',
       'A Map of the World', 'A Painted House', 'A Prayer for Owen Meany',
       ...
       'Whirlwind (Tyler, Book 1)', 'Whispers', 'White Oleander : A Novel',
       'White Oleander : A Novel (Oprah's Book Club)',
       'Wicked: The Life and Times of the Wicked Witch of the West',
       'Wild Animus', 'Wish You Well', 'Without Remorse', 'Wuthering Heights',
       '\O\" Is for Outlaw"'],
      dtype='object', name='title', length=363)

In [74]:
type(book_pivotib.index)

pandas.core.indexes.base.Index

Example of how to find index using book's name:
Book pivot table:
       User1  User2  User3
BookA    5.0    NaN    4.0
BookB    4.0    3.0    NaN
BookC    NaN    4.0    5.0

Book name: BookB
Index of the book name: 1

Breakdown of the Example
book_pivot.index == book_name:

Returns array([False, True, False]).
np.where(book_pivot.index == book_name):

Returns (array([1]),) because BookB is found at index 1.
[0][0]:

Accesses the first element of the tuple, then the first element of the array, resulting in 1.

In [84]:
def recommend_book_itemBased_CF(book_name):
    book_id=np.where(book_pivotib.index==book_name)[0][0]
    distance,suggestions=modelib.kneighbors(book_pivotib.iloc[book_id,:].values.reshape(1,-1), n_neighbors=6)
    x=np.array(suggestions)
    x=x.flatten()
    for i in x:
        print(book_pivotib.index[i])

In [85]:
recommend_book_itemBased_CF( 'Wicked: The Life and Times of the Wicked Witch of the West')

Wicked: The Life and Times of the Wicked Witch of the West
How Stella Got Her Groove Back
Riptide
Here on Earth
The Angel of Darkness
Three Junes

# User Based Collaborative Filtering

In [86]:
book_pivotub=ratings_plus_book.pivot_table(columns='title', index='user_id', values='rating')

In [87]:
book_pivotub

title,1984,1st to Die: A Novel,2nd Chance,A Bend in the Road,A Case of Need,"A Child Called \It\"": One Child's Courage to Survive""",A Is for Alibi (Kinsey Millhone Mysteries (Paperback)),A Map of the World,A Painted House,A Prayer for Owen Meany,...,"Whirlwind (Tyler, Book 1)",Whispers,White Oleander : A Novel,White Oleander : A Novel (Oprah's Book Club),Wicked: The Life and Times of the Wicked Witch of the West,Wild Animus,Wish You Well,Without Remorse,Wuthering Heights,"\O\"" Is for Outlaw"""
user_id,,,,,,,,,,,,,,,,,,,,,
254,9.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2033,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2276,NaN,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2766,NaN,NaN,NaN,7.0,0.0,NaN,7.0,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,6.0,NaN,NaN,NaN,NaN
2977,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,7.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
277427,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN
277478,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
277639,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
278188,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
278418,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,0.0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [88]:
book_pivotub.fillna(0, inplace=True)

In [89]:
book_pivotub

title,1984,1st to Die: A Novel,2nd Chance,A Bend in the Road,A Case of Need,"A Child Called \It\"": One Child's Courage to Survive""",A Is for Alibi (Kinsey Millhone Mysteries (Paperback)),A Map of the World,A Painted House,A Prayer for Owen Meany,...,"Whirlwind (Tyler, Book 1)",Whispers,White Oleander : A Novel,White Oleander : A Novel (Oprah's Book Club),Wicked: The Life and Times of the Wicked Witch of the West,Wild Animus,Wish You Well,Without Remorse,Wuthering Heights,"\O\"" Is for Outlaw"""
user_id,,,,,,,,,,,,,,,,,,,,,
254,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2033,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2276,0.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2766,0.0,0.0,0.0,7.0,0.0,0.0,7.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0
2977,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
277427,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
277478,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
277639,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
278188,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
278418,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [90]:
from scipy.sparse import csr_matrix
sparse_ub=csr_matrix(book_pivotub)

In [92]:
from sklearn.neighbors import NearestNeighbors
modelub=NearestNeighbors(algorithm='brute',metric='minkowski',p=2)

In [93]:
modelub.fit(sparse_ub)

NearestNeighbors(algorithm='brute')

In [100]:
distance,suggestions=modelub.kneighbors(book_pivotub.iloc[230,:].values.reshape(1,-1),n_neighbors=6)

In [101]:
distance

array([[ 0.        , 16.76305461, 17.80449381, 18.30300522, 18.57417562,
        19.07878403]])

In [102]:
suggestions

array([[230,  36, 718,   1, 258, 757]], dtype=int64)

Now we would find a way to determine index from given user_id

In [105]:
index=np.where(book_pivotub.index==277427)[0][0]

In [106]:
index

1022

In [132]:
distance,suggestions=modelub.kneighbors(book_pivotub.iloc[1000,:].values.reshape(1,-1),n_neighbors=6)

In [133]:
suggestions

array([[1000,  998,  338,  492,  486,  900]], dtype=int64)

Now we are able to find serial_no. of similar users from a given user_id.Now,our task is to figure out that which books are among the maximum rated books of these users and select a random such books for each users.

In [134]:
h=[]

In [135]:
for i in suggestions:
    h.append(book_pivotub.index[i])
h

[Int64Index([268932, 268330, 99955, 139467, 138073, 244349], dtype='int64', name='user_id')]

In [137]:
book_pivotub.loc[269728].idxmax()

'C Is for Corpse (Kinsey Millhone Mysteries (Paperback))'

In [138]:
y=[h[0][1],h[0][2],h[0][3],h[0][4],h[0][5]]
y

[268330, 99955, 139467, 138073, 244349]

In [140]:
import random
for i in y:
    max_value = book_pivotub.loc[i].max()  
    max_indices = book_pivotub.loc[i][book_pivotub.loc[i] == max_value].index.tolist()  
    max_index = random.choice(max_indices)  
    print(max_index)

Suzanne's Diary for Nicholas
Snow Falling on Cedars
The Bourne Identity
2nd Chance
The Five People You Meet in Heaven

In [142]:
serial=np.where(book_pivotub.index==268330)[0][0]

In [143]:
serial

998

In [155]:
def book_recommendations_UserBased_CF(user_id):
    import random
    
    try:
        serial_no=book_pivotub.index.get_loc(user_id)
        #serial_no=np.where(book_pivotub.index==user_id)[0][0]
    except KeyError:
        print("Sorry! UserID",user_id,"not Valid.")
        
    distance,suggestions=modelub.kneighbors(book_pivotub.loc[user_id].values.reshape(1,-1), n_neighbors=6)
    # we could also use distance,suggestions=modelub.kneighbors(book_pivotub.iloc[serial_no].values.reshape(1,-1), n_neighbors=6)
    h=[]
    for i in suggestions:
        h.append(book_pivotub.index[i])
    y=[h[0][1],h[0][2],h[0][3],h[0][4],h[0][5]]
    
    for i in y:
        max_value = book_pivotub.loc[i].max()  
        max_indices = book_pivotub.loc[i][book_pivotub.loc[i] == max_value].index.tolist()  
        max_index = random.choice(max_indices)  
        print(max_index)

np.where doesn't raises key error whereas get_loc raises it.

In [156]:
book_recommendations_UserBased_CF(278188)

The Street Lawyer
I Is for Innocent
Tuesdays with Morrie: An Old Man, a Young Man, and Life's Greatest Lesson
Angels &amp; Demons
Wicked: The Life and Times of the Wicked Witch of the West

In [154]:
book_recommendations_UserBased_CF(999675)

Sorry! UserID 999675 not Valid.

KeyError: 999675

# Hybrid Recommender System

We already have designed functions for Item Based as well as User Based collaborative filtering .Now, we would be designing the function which could recommend us books on the basis of users past history(Item based CF) as well as books which are highly rated/liked by people having same interests as the user.This function would be given a weight by us which would help it to decide from which part(past history or similar people) to recommend how many books to the user.

In [171]:
def hybrid_recommender_for_examining_weight(book_already_read, user_id, weight_for_history):
    import random
    
    def book_recommendations_UserBased_CF(user_id):
            try:
                serial_no=book_pivotub.index.get_loc(user_id)
                
            except KeyError:
                print("Sorry! UserID",user_id,"not Valid.")
                
            distance,suggestions=modelub.kneighbors(book_pivotub.loc[user_id].values.reshape(1,-1), n_neighbors=6)
            h=[]
            for i in suggestions:
                h.append(book_pivotub.index[i])
            y=[h[0][1],h[0][2],h[0][3],h[0][4],h[0][5]]
            z=[]
            for i in y:
                max_value = book_pivotub.loc[i].max()  
                max_indices = book_pivotub.loc[i][book_pivotub.loc[i] == max_value].index.tolist()  
                max_index = random.choice(max_indices)
                z.append(max_index)
            z=np.array(z)
            z=z.flatten()
            return z
    def recommend_book_itemBased_CF(book_already_read):
            book_id=np.where(book_pivotib.index==book_already_read)[0][0]
            distance,suggestions=modelib.kneighbors(book_pivotib.iloc[book_id,:].values.reshape(1,-1), n_neighbors=6)
            x=np.array(suggestions)
            x=x.flatten()
            y=[]
            for i in x:
                y.append(book_pivotib.index[i])
            y=np.array(y)
            y=y.flatten()
            return y
    z=book_recommendations_UserBased_CF(user_id)
    y=recommend_book_itemBased_CF(book_already_read)
    k=int(np.floor(weight_for_history*len(y)))
    m=random.sample(y.tolist(),k)
    for i in range(len(z)-k):
        m.append(z[i])
    print("Hybrid Recommendations\n")
    for i in m:
        print(i)

In [172]:
hybrid_recommender('How Stella Got Her Groove Back',269728,0.4)

Hybrid Recommendations

How Stella Got Her Groove Back
Before I Say Good-Bye
Politically Correct Bedtime Stories: Modern Tales for Our Life and Times
The Drawing of the Three (The Dark Tower, Book 2)
The Tale of the Body Thief (Vampire Chronicles (Paperback))

Now lets design another function of hybrid recommendation to trace out how actually this weight works.

In [169]:
def hybrid_recommender_for_examining_weight(book_already_read, user_id, weight_for_history):
    import random
    
    def book_recommendations_UserBased_CF(user_id):
            try:
                serial_no=book_pivotub.index.get_loc(user_id)
                
            except KeyError:
                print("Sorry! UserID",user_id,"not Valid.")
                
            distance,suggestions=modelub.kneighbors(book_pivotub.loc[user_id].values.reshape(1,-1), n_neighbors=6)
            h=[]
            for i in suggestions:
                h.append(book_pivotub.index[i])
            y=[h[0][1],h[0][2],h[0][3],h[0][4],h[0][5]]
            z=[]
            for i in y:
                max_value = book_pivotub.loc[i].max()  
                max_indices = book_pivotub.loc[i][book_pivotub.loc[i] == max_value].index.tolist()  
                max_index = random.choice(max_indices)
                z.append(max_index)
            z=np.array(z)
            z=z.flatten()
            return z
    def recommend_book_itemBased_CF(book_already_read):
            book_id=np.where(book_pivotib.index==book_already_read)[0][0]
            distance,suggestions=modelib.kneighbors(book_pivotib.iloc[book_id,:].values.reshape(1,-1), n_neighbors=6)
            x=np.array(suggestions)
            x=x.flatten()
            y=[]
            for i in x:
                y.append(book_pivotib.index[i])
            y=np.array(y)
            y=y.flatten()
            return y
    z=book_recommendations_UserBased_CF(user_id)
    y=recommend_book_itemBased_CF(book_already_read)
    print("Item Based Collaborative Filtering Recommendations\n")
    for i in y:
        print(i)
    print("\n")
    
    print("User Based Collaborative Filtering Recommendations\n")
    for i in z:
        print(i)
    
    print("\n")
    k=int(np.floor(weight_for_history*len(y)))
    m=random.sample(y.tolist(),k)
    for i in range(len(z)-k):
        m.append(z[i])
    print("Hybrid Recommendations\n")
    for i in m:
        print(i)

In [170]:
hybrid_recommender_for_examining_weight('How Stella Got Her Groove Back',269728,0.45)

Item Based Collaborative Filtering Recommendations

How Stella Got Her Groove Back
A Case of Need
Moo
Whirlwind (Tyler, Book 1)
Smilla's Sense of Snow
Before I Say Good-Bye


User Based Collaborative Filtering Recommendations

Skipping Christmas
The Gunslinger (The Dark Tower, Book 1)
The Winner
Sanctuary
Couplehood


Hybrid Recommendations

Before I Say Good-Bye
How Stella Got Her Groove Back
Skipping Christmas
The Gunslinger (The Dark Tower, Book 1)
The Winner

floor(0.45*len(y))=floor(0.45*5)=floor(2.25)=2
So,we can easily figure out that in recommendations part,there are exactly two books out of Item Bases CF(in randomised order) and rest(5-2=3) three books are from User abses CF section.So,our hybrid recommender recommends both ,books based on what user read and on the basis of books likes by people similar to the user.